{
"presets" : ["es2015-loose",  "react"],
"plugins": ["transform-function-bind", ["transform-es2015-classes", {
                                             "loose": true
                                           }]]
}
